{{define "default" -}}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {{template "header" .}}
    {{block "head_inject" .}}
    <link rel="stylesheet" href="/css/main.css">
    {{end}}
  </head>
  <body>
    <div class="core-content">
      {{template "nav" .}}
      {{template "content" .}}
    </div>
    {{template "footer" .}}
    {{block "foot_inject" .}}{{end}}
  </body>
</html>
{{- end}}

{{define "content" -}}
<h1>Layout</h1>
<p>The layout page you should never see.</p>
{{- end}}