{{define "default" -}}
{{template "header" .}}
{{template "nav" .}}
{{template "content" .}}
{{template "footer" .}}
{{- end}}

{{define "content" -}}
<h1>Layout</h1>
<p>The layout page you should never see.</p>
{{- end}}